# dependencies
node_modules/

# build
dist/
storybook-static/

# env
.env
.env.local

# logs
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# editor
.vscode/
.idea/

# misc
*.tsbuildinfo
